<div class='thanksPage'>
  <div class='container'>
    <p class="thanksPage_message">Thank you fro inquiring</p>
    <div class="text-center"><%= link_to "Back to the top page", root_path, class: "btn btn-primary" %></div>
  </div>
</div>